# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# editor
# .vscode
.idea
.cache

.turbo

# dependencies
node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
dist

!/packages/@bika.ai/bika-sdk-js/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# antr
# src/antlr/dist
src/antlr/.antlr
